# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

streamlit
langchain
langchain-core
langchain-text-splitters
langchain-google-genai
youtube-transcript-api
langchain-community
accelerate
transformers
faiss-cpu
sentence-transformers
huggingface-hub
